



<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->



<!--  <div class="col-sm-4 col-xs-12" id="f_ID_div" class='form-group'  >
    <label><font color="darkred">*</font>Employee Name</label> <!--  EMPLOYEE ID
     <select class="form-control input-lg" id="f_ID" required>
     	<option value ="none" selected="selected">Select</option>
    </select>  </div>
-->

 <div class="col-sm-6 col-xs-12" id="f_CID_div" class='form-group'>
    <label><font color="darkred"></font>Contract ID</label> <!-- Contract ID for user assign -->
   <input type="text" class="form-control input-lg" id="f_CID" required>
  </div>





</div> <!-- /.row -->
